<div id="update-profile">
  <div id="change-profile-form">
    <h2><%= t "devise.registrations.edit" %></h2>

    <%= form_for resource, as: resource_name, url: registration_path(resource_name),
      html: {method: :put} do |f| %>
      <%= devise_error_messages! %>
      <div class="field" >
        <div class="field-name">
          <%= f.label :name %>
        </div>
        <div class="form">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="field">
        <div class="field-name">
          <%= f.label :email %><br/>
        </div>
        <div class="form">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t "devise.registrations.waiting_confirmation" %>:
          <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <div class="field-name">
          <%= f.label :current_password %>
        </div>
        <div class="form">
          <i>(<%= t "devise.registrations.confirm_current_password" %>)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off",
            class: "form-control" %>
        </div>
      </div>

      <div class="field">
        <div class="field-name">
          <%= f.label :chatwork_id %><br/>
        </div>
        <div class="form">
          <%= f.text_field :chatwork_id, autocomplete: "off",
            class: "form-control" %>
        </div>
      </div>

      <div class="button update-button">
        <%= f.submit t("devise.registrations.update"),
          class: "rc-button rc-button-submit",
          data: {confirm: t("devise.passwords.confirm_change")} %>
      </div>
    <% end %>
    <button class="btn btn-default", onclick="goBack()">
      <%= t "devise.registrations.back" %>
    </button>

    <button id="my-btn", class="btn btn-default", onclick="myModal()">
      <%= t "devise.passwords.change_password" %>
    </button>
    <div id="my-modal" class="modal">
      <div class="modal-content">
        <%= form_for resource, as: resource_name,
          url: registration_path(resource_name), html: {method: :put} do |f| %>
          <%= devise_error_messages! %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t "devise.registrations.waiting_confirmation" %>:
              <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <div class="field-name">
              <%= f.label :password %>
            </div>
            <div class="form">
              <i>(<%= t "devise.registrations.leave_blank" %>)</i><br/>
              <%= f.password_field :password, autocomplete: "off",
                class: "form-control" %>
            </div>
          </div>

          <div class="field">
            <div class="field-name">
              <%= f.label :password_confirmation %><br/>
            </div>
            <div class="form">
              <%= f.password_field :password_confirmation, autocomplete: "off",
                class: "form-control" %>
            </div>
          </div>

          <div class="field">
            <div class="field-name">
              <%= f.label :current_password %>
            </div>
            <div class="form">
              <i>(<%= t "devise.registrations.confirm_current_password" %>)</i><br/>
              <%= f.password_field :current_password, autocomplete: "off",
                class: "form-control" %>
            </div>
          </div>

          <div class="button update-password">
            <%= f.submit t("devise.registrations.update"),
              class: "rc-button rc-button-submit",
              data: {confirm: t("devise.passwords.confirm_change")} %>
          </div>
        <% end %>
        <button id="close", class="btn btn-danger", onclick="closeModal()">
          &times;
        </button>
      </div>
    </div>
  </div>
</div>
