<div id="sign-up">
  <h1><%= t "devise.registrations.create_account" %></h1>
  <div class="clearfix">
    <div id="sign-up-form">
      <%= form_for resource, as: resource_name,
        url: registration_path(resource_name) do |f| %>
        <%= devise_error_messages! %>

        <div class="field" >
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>
              (<%= @minimum_password_length %><%= t "devise.registrations.minimum" %>)
            </em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off",
            class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off",
            class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :chatwork_id %><br />
          <%= f.text_field :chatwork_id, autocomplete: "off",
            class: "form-control" %>
        </div>

        <div class="signup-button">
          <%= f.submit t("devise.registrations.sign_up"),
            class: "rc-button rc-button-submit" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

    <div id="sign-up-left">
      <h2>
        <%= t "devise.registrations.need_account" %>
      </h2>
      <p>
        <%= t "devise.registrations.access_service" %>
      </p>
      <i class="glyphicon glyphicon-calendar"></i>
      <center>
        <%= image_tag "schedule.png" %>
      </center>
    </div>
  </div>
</div>
