<h3><%= t "calendars.mailer.hi" %><%= @user.name %></h3>
<p>
  <%= t "calendars.mailer.you_have_request" %><%= @current_user.name %>,
  <%= t "calendars.mailer.please_check" %>
  <%= link_to t("calendars.edit"),
    edit_user_calendar_url(@user, @user.default_calendar, email: @current_user.email) %>
</p>
