<div class="container main-profile">
  <div class="row tanp-user-header">
    <div class="col-md-4">
      <div class="u-avatar">
        <div class="img-circle">
          <%= get_avatar current_user %>
        </div>
      </div>
      <div class="text-center">
        <h1><%=link_to @user.name, edit_user_registration_path %></h1>
        <b><%= t "user.info.email" %></b>
        <i><%= @user.email %><br/></i>
      </div>
      <div class="text-center">
        <h1 class="dark-text text-center">
          <%= t "user.info.calendars.title" %>
        </h1>
      </div>
      <ul class="tanp-list-user">
        <% @user.calendars.each do |calendar| %>
          <li>
            <label class="checkbox-calendar">
              <%= check_box_tag "checkbox-calendar", calendar.id,
                true, class: "calendar-checkbox" %>
              <%= calendar.name %>
            </label>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-8">
      <h1 class="text-center">
        <%= t "user.info.events.title" %>
      </h1>
      <div class="event-content">
        <ul id="event-list-id" class="tanp-list-event">
          <%= render "event", events: @events, user: @user %>
        </ul>
      </div>
      <div class="event-load text-center">
        <button id="load-more-event" class="button blue button-load-more-event" rel="1">
          <%= t "user.info.events.button" %>
        </button>
      </div>
    </div>
  </div>
</div>
