<div class="user-info-body">
  <div class="u-title">
    <h2><%= t "user.info.title" %></h2>
  </div>
  <div class="u-content">
    <div class="col col-1">
      <div class="user-info ">
        <input type="hidden" id="user-id" value="<%= @user.id %>">
          <div class="u-avatar">
            <label>
              <div id="user-avatar"><%= get_avatar @user %></div>
              <%= form_for @user, url: api_user_path(@user), remote: true do |form| %>
                <%= form.hidden_field :name, value: @user.name %>
                <%= form.hidden_field :email, value: @user.email %>
                <%= form.hidden_field :status, value: "UpdateUserAvatar" %>
                <%= form.file_field :avatar, id: "choose-file-btn" %>
                <%= form.submit t("user.info.save_avatar"), id: "submit-file-btn" %>
              <% end %>
            </label>
          </div>
        <div class="u-name">
          <i id='user-name'><%= link_to @user.name, edit_user_registration_path %></i>
          <button class="edit-info-btn" id="username-edit"></button>
        </div>
        <div id="u-name-input">
          <input type="text" name="newUsername" 
            value="<%= @user.name %>" id="username-input">
          <button class="save-info-btn" id="username-save"><%= t "user.info.save" %></button>
        </div>
        <div class="u-email">
          <i id="user-email"><%= @user.email %></i>
          <button class="edit-info-btn" id="email-edit"></button>
        </div>
        <div id="u-email-input">
          <input type="text" name="newEmail" 
            value="<%= @user.email %>" id="email-input">
          <button class="save-info-btn" id="email-save"><%= t "user.info.save" %></button>
        </div>
      </div>
      <div class="u-calendar">
        <h4 class="x-title"><%= t "user.info.calendars.title" %></h4>
        <ul class="list-unstyled user_data">
          <% @user.calendars.each do |calendar| %>
            <li>
              <label class="checkbox-calendar">
                <%= check_box_tag "checkbox-calendar", calendar.id,
                  true, class: "calendar-checkbox" %>
                <%= calendar.name %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="user-events col col-2">
      <h3 class="x-title"><%= t "user.info.events.title" %></h3>
      <div class="event-content"> 
        <ul id="event-list-id">
          <%= render "event", events: @events, user: @user %>
        </ul>
      </div>
      <div class="event-load">
        <button id="load-more-event" class="btn-load" rel="1">
          <%= t "user.info.events.button" %>
        </button>
      </div>
    </div>
  </div>
</div>
