<div id = "new-event-dialog" class="dialog dialog-hidden">
  <div class="bubblemain">
    <div id="bubble-close" class="bubble-close"></div>
    <div id="bubbleContent" class="bubblecontent">
      <div class="tab-container">
        <div class="tab-labels"><a class="tab-label e active blue-text"><%= t "events.dialog.event" %></a>
        </div>
        <div class="tab-content">
          <%= form_for [current_user, @event], remote: true do |f| %>
            <%= f.hidden_field :start_date, id: "start-time" %>
            <%= f.hidden_field :finish_date, id: "finish-time" %>
            <%= f.hidden_field :all_day, id: "all-day" %>
            <div class="state-container">
              <div class="tab-panel e active">
                <div class="tile-content">
                  <%= f.text_field :title, id: "event-title", class: "gcal-textinput form-control",
                    placeholder: t("events.dialog.placeholder"), required: true %>
                  <div class="error-title"></div>
                </div>
                <div class="tile period-tile">
                  <div class="tile-label">
                    <label><%= t "events.dialog.time" %></label>
                  </div>
                  <div class="tile-content event-time"></div>
                </div>
                <div class="select-calendar tile select-tile">
                  <div class="tile-label">
                    <label><%= t "events.dialog.calendar" %></label>
                  </div>
                  <div class="calendar-container tile-content">
                    <div>
                      <%= f.select :calendar_id,
                        options_for_select(select_my_calendar @manage_calendars),{},
                        {class: "goog-flat-menu-button gcalSelect form-control"} %>
                    </div>
                    <br>
                  </div>
                </div>
                <div class="action">
                  <div class="right-actions">
                    <button id="edit-event-btn" class="button green">
                      <%= t "events.dialog.edit_event" %>
                    </button>
                    <button id="new-event-btn", class="button blue">
                      <%= t "events.dialog.create_event" %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="prong" class="bottom-prong">
      <div class="prong-dk"></div>
      <div class="prong-lt"></div>
    </div>
  </div>
</div>
