<div id="event">
  <%= form_for @event do |f| %>
    <%= hidden_field_tag :fdata, params[:fdata] %>
    <div class="form-action">
      <%= link_to root_path, title: t("events.buttons.go_back"),
        "data-no-turbolink": true, class: "btn-go-back" do %>
        <i class="go-back"></i>
      <% end %>

      <button class="btn-save <%= "btn-confirmation-repeat" if @event.exist_repeat? && !@event.edit_only? %>"
        type=<%= @event.exist_repeat? && !@event.edit_only? ? "button" : "submit" %> style="display: inline-block;">
        <%= t("events.buttons.save") %>
      </button>

      <%#= f.submit t("events.buttons.save"), class: "btn-save" %>

      <%= link_to t("events.buttons.discard"), root_path, class: "btn-discard",
        "data-no-turbolink": true %>
      <% if is_edit_form? action_name %>
        <%= link_to t("events.buttons.delete"),
          user_event_path(current_user, @event), method: :delete,
          data: {confirm: t("events.confirm.delete")}, class: "btn-discard" %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label t "events.labels.title" %>
      <%= f.text_field :title, placeholder: t("events.placeholder.new_event"),
        autofocus: true, required: true, class: "form-control" %>
    </div>
    <div class="form-group" id="dateTime">
      <%= f.hidden_field :start_date %>
      <%= f.hidden_field :finish_date %>
      <%= f.hidden_field :all_day %>
      <%= text_field_tag :start_date,
        datetime_format(@event.start_date, "short_date"), required: true,
        class: "date start form-control fix-width-date date-time" %>
      <%= text_field_tag :start_time,
        datetime_format(@event.start_date, "short_time"), required: true,
        class: "time start form-control fix-width-time date-time" %>
      <%= f.label t "events.labels.to" %>
      <%= text_field_tag :finish_time,
        datetime_format(@event.finish_date, "short_time"), required: true,
        class: "time finish form-control fix-width-time date-time" %>
      <%= text_field_tag :finish_date,
        datetime_format(@event.finish_date, "short_date"), required: true,
        class: "date finish form-control fix-width-date date-time" %>
    </div>
    <div class="form-group" id="checkox-new-event">
      <div class="all-day">
        <%= f.check_box :all_day, {}, 1, 0 %>
        <%= f.label :all_day %>
      </div>
      <div class="cb-repeat first <%= "repeat-on" if @event.exist_repeat? %>">
        <%= check_box_tag :repeat %>
        <%= label_tag :repeat %>
        <span>
          <%= link_to t("events.links.edit"), "javascript:void(0)", class: "dialog-repeat-event"  %>
        </span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t "events.labels.calendar" %>
      <%= f.collection_select :calendar_id, @calendars, :id, :name, {},
        selected: @event.calendar.try(:id), class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t "events.labels.description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :attendees %>
      <%= f.select :user_ids,
        @users.collect {|user| [user.name, user.id]}, {},
        {id: "attendee", multiple: :true} %>
    </div>
    <div class="form-group">
      <p><%= f.label :notifications %> </p>
      <div class="notify">
        <%= f.fields_for :notification_events do |ntbuilder| %>
          <p>
            <%= ntbuilder.check_box :notification_id,
              {checked: ntbuilder.object.persisted?},
              ntbuilder.object.notification_id, nil %>
            <%= ntbuilder.label :notification_id,
              ntbuilder.object.notification_type %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="overlay-bg"></div>
    <%= render "events/dialog_repeat_form", f: f %>

    <%= confirm_popup_repeat_events t("events.repeat_dialog.edit") %>
  <% end %>
</div>
