<div id="popup" class="dialog dialog-hidden">
  <div class="bubblemain">
    <div id="bubble-close" class="bubble-close close-popup cancel-popup-event"></div>
    <div id="bubbleContent" class="bubblecontent">
      <div class="tab-container">
        <div id="head-popup">
          <div class="title-popup-wap" >
            <div id="color-event"></div>
            <input id="title-input-popup" class="title-popup data-none-display">
            <div id="title-popup" class="title-popup data-display">
              <%= event.title %>
            </div>
          </div>
        </div>
        <div id="data-popup" class="content-popup">
          <div id="time-data">
            <label class="time-label tile-label">
              <%= t "events.popup.time_label" %>
            </label>
            <span id="time-event-popup" class="tile-content">
              <%= "#{event.start_date.strftime("%I.%m %p %d-%m-%Y")} 
                To #{event.finish_date.strftime("%I.%m %p %d-%m-%Y")}" %>
            </span>
          </div>
          <div id="calendar-data">
            <label class="calendar-event-label"><%= t "events.popup.calendar" %></label>
            <span id="calendar-event-popup" class="tile-content">
              <%= event.calendar.name %>
            </span>
          </div>
        </div>
        <div id="footer-popup">
          <%= btn_via_permission user, event %>
        </div>
      </div>
    </div>
    <div id="prong-popup" class="bottom-prong">
      <div class="prong-dk"></div>
      <div class="prong-lt"></div>
    </div>
  </div>
</div>
