<div id="maincell">
  <div class="contain">
    <div class="form-action">
      <%= link_to root_path, title: t("events.buttons.go_back"),
        "data-no-turbolink": true, class: "btn-go-back" do %>
        <i class="go-back"></i>
      <% end %>
    </div>
    <div class="ev-title">
      <%= label_tag "title", @event.title, class:"title" %>
    </div>
    <div class="lb-dt">
      <div class="ev-dt">
        <%= label_tag :start_date, datetime_format(@event.start_date, "s_date_f_time") %>
        <%= label_tag :dash, " - " %>
        <%= label_tag :finish_date, datetime_format(@event.finish_date,
          @event.is_diff_between_start_and_finish_date? ? "s_date_f_time" : "meridiem_time") %>
      </div>
    </div>
    <div class="ev-cal">
      <div class="ev-contain">
        <div class="ev-att">
          <div class="contain">
            <div class="lb-attendees">
              <%= label_tag :lattendee, t("events.labels.attendees") %>
            </div>
            <ul>
              <% @event.attendees.each do |attendee| %>
                <li class="l-att-<%= attendee.id %>">
                  <div id="att-<%= attendee.id %>" class="btn-del"
                    ev-id="<%= @event.id %>" user-id="<%= current_user.id %>">
                  </div>
                  <div><%= attendee.user_name %></div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="lb-contain">
          <div class="lbcal">
            <ul>
              <li><%= label_tag :lbcal, t("events.labels.calendar") %></li>
              <li><%= @event.calendar_name %></li>
            </ul>
            <ul>
              <li><%= label_tag :lbowner, t("events.labels.owner_name") %></li>
              <li><%= @event.owner_name %></li>
            </ul>
            <ul>
              <li><%= label_tag :lbdesc, t("events.labels.description") %></li>
              <li><%= @event.description %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
