<%= form_for [current_user, @calendar] do |f| %>
  <%= f.hidden_field :parent_id,
    value: @calendar.parent_id.nil? ? params[:parent_id] : @calendar.parent_id %>
  <div class="form-action">
    <%= link_to root_path, title: t("events.buttons.go_back"),
      "data-no-turbolink": true, class: "btn-go-back" do %>
      <i class="go-back"></i>
    <% end %>
    <%= f.submit t("events.buttons.save"), class: "btn-save" %>
    <%= link_to t("events.buttons.discard"), root_path, class: "btn-discard",
      "data-no-turbolink": true %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :color %>
    <div id="cal-color">
      <div class="checkbox-color">
        <%= f.hidden_field :color_id, value: 1 %>
        <% if is_edit_form? action_name %>
          <% @colors.each_with_index do |color, index| %>
            <div class="<%= "l-color" %>" >
              <input type="checkbox" class="input-assumpte"
                id="<%= "input-color-#{color.id}" %>" rel="<%= color.id %>"
                <%= "checked" if index == @calendar.color_id - 1 %>>
              <label class="<%= "color-#{color.id}" %>"
                for="<%= "input-color-#{color.id}" %>">
              </label>
            </div>
          <% end %>
        <% else %>
          <% @colors.each_with_index do |color, index| %>
            <div class="<%= "l-color" %>" >
              <input type="checkbox" class="input-assumpte"
                id="<%= "input-color-#{color.id}" %>" rel="<%= color.id %>"
                <%= "checked" if index == 0 %>>
              <label class="<%= "color-#{color.id}" %>"
                for="<%= "input-color-#{color.id}" %>">
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group" >
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
<% end %>
