<%= form_for [current_user, @calendar] do |f| %>
  <%= f.hidden_field :parent_id,
    value: @calendar.parent_id.nil? ? params[:parent_id] : @calendar.parent_id %>
  <div class="form-action">
    <%= link_to root_path, title: t("events.buttons.go_back"),
      "data-no-turbolink": true, class: "btn-go-back" do %>
      <i class="go-back"></i>
    <% end %>
    <%= f.submit t("events.buttons.save"), class: "btn-save" %>
    <%= link_to t("events.buttons.discard"), root_path, class: "btn-discard",
      "data-no-turbolink": true %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>

  <div class="form-group" >
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
<% end %>
