<div id="popup">
  <div id="current-user-id-popup" hidden><%= current_user.id %></div>
  <div id="head-popup">
    <div class="title-popup-wap" >
      <div id="color-event"></div>
      <input id="title-input-popup" class="title-popup data-none-display">
      <div id="title-popup" class="title-popup data-display"></div>
      <div class="close-popup cancel-popup-event"></div>
    </div>
  </div>
  <div id="data-popup" class="content-popup">
    <div id="time-data">
      <label class="time-label"><%= t "events.popup.time_label" %></label>
      <span id="time-event-popup"></span>
    </div>
  </div>
  <div id="footer-popup">
    <button id="btn-delete-event" class="btn data-display">
      <%= t "events.buttons.delete" %>
    </button>
    <button class="btn data-none-display cancel-popup-event">
      <%= t "events.buttons.cancel" %>
    </button>
    <a id="btn-edit-event" class="btn data-display btn-right ">
      <%= t "events.buttons.edit" %>
    </a>
    <button id="btn-save-event" class="btn data-none-display btn-right ">
      <%= t "events.buttons.save" %>
    </button>
  </div>
</div>

<div id="calcontent">
  <div id="mothertable">
    <div id="nav">
      <div class="logo"><%= t "layout.calendar-logo" %></div>
      <div id="sidebar">
        <div class="btn-group" id="source-popup">
          <%= link_to t("calendar.create_event"), new_user_event_path(current_user),
            class: "btn btn-danger" %>
          <button type="button" class="btn btn-danger dropdown-toggle create"
            data-toggle="dropdown" aria-haspopup="true">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <ul class="dropdown-menu" id="event-popup">
            <li>
              <div class="qab-container gcal-popup">
                <label><%= t "calendar.quick_add" %></label>
                <textarea ></textarea>
                <div class="btn-quick-add">
                  <%= link_to t("calendar.add"), "#" %>
                </div>
                <p><%= t "calendar.example" %></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="mini-calendar">
        <div id="mini-calendar"></div>
      </div>
      <div id="my-calendar">
        <h2 id="clst_my" class="calHeader goog-zippy-collapsed">
          <span class="h zippy-arrow" unselectable="off">&nbsp;</span>
          <span class="calHeaderSpace"><%= t "my_calendar" %></span>
          <span id="clst_my_menu" class="clstMenu"></span>
        </h2>
        <div id="collapse1" class="panel-collapse collapse"
          aria-expanded="true">
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to t("calendar.create_calendar"),
                new_user_calendar_path(current_user) %>
            </li>
            <% @calendars.each do |calendar| %>
              <li class="list-group-item">
                <%= calendar.name %>
                <%= link_to t("calendar.edit"),
                  edit_user_calendar_path(current_user, calendar) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="other-calendar"></div>
    </div>
    <div class="mainbody">
      <div id="full-calendar"></div>
    </div>
  </div>
  <%= render "events/dialog_form" %>
</div>
