<div id="popup">
  <div id="head-popup">
    <div id="title"></div>
  </div>
  <div id="data">

  </div>
  <div id="footer-popup">
    <button id="btn-delete-event"><%= t "events.buttons.delete" %></button>
  </div>
</div>

<div id="calcontent">
  <div id="vr-nav"></div>
  <div id="mothertable">
    <div id="nav">
      <div id="sidebar">
        <div class="btn-group">
          <%= link_to t("calendar.create_event"), new_user_event_path(current_user),
            class: "btn btn-danger" %>
          <button type="button" class="btn btn-danger dropdown-toggle create"
            data-toggle="dropdown" aria-haspopup="true">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <textarea></textarea>
              <button type="button"><%= t "add" %></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="mini-calendar">
        <div id="mini-calendar"></div>
      </div>
      <div id="my-calendar">
        <h2 id="clst_my" class="calHeader goog-zippy-collapsed">
          <span class="h zippy-arrow" unselectable="off">&nbsp;</span>
          <span class="calHeaderSpace"><%= t "my_calendar" %></span>
          <span id="clst_my_menu" class="clstMenu"></span>
        </h2>
        <div id="collapse1" class="panel-collapse collapse"
          aria-expanded="true">
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to t("calendar.create_calendar"),
                new_user_calendar_path(current_user) %>
            </li>
            <% @calendars.each do |calendar| %>
              <li class="list-group-item">
                <%= calendar.name %>
                <%= link_to t("calendar.edit"),
                  edit_user_calendar_path(current_user, calendar) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="other-calendar"></div>
    </div>
    <div class="mainbody">
      <div id="full-calendar"></div>
    </div>
  </div>
</div>
