<div id="calcontent">
  <div id="mothertable">
    <div id="nav">
      <div id="sidebar">
        <div class="btn-group" id="source-popup">
          <%= link_to t("calendar.create_event"),
            new_user_event_path(current_user), class: "btn btn-danger" %>
          <button type="button" class="btn btn-danger dropdown-toggle create"
            data-toggle="dropdown" aria-haspopup="true">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </button>
          <div id="current-user-id-popup"><%= current_user.id %></div>
          <ul class="dropdown-menu" id="event-popup">
            <li>
              <div class="qab-container gcal-popup">
                <label><%= t "calendar.quick_add" %></label>
                <textarea id="title-event-value"></textarea>
                <div id="btn-quick-add">
                  <%= link_to t("calendar.add"), "javascript:void(0)", id: "link-to-event" %>
                </div>
                <p><%= t "calendar.example" %></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="mini-calendar">
        <h2 id="title-mini-calendar" class="calHeader goog-zippy-collapsed">
          <div class="hover-my-calendar">
            <span class="h zippy-arrow-mini-calendar" unselectable="off">&nbsp;</span>
            <span class="calHeaderSpace"><%= t "calendar.mini_calendar" %></span>
          </div>
        </h2>
        <div id="mini-calendar"></div>
      </div>
      <div id="my-calendar">
        <h2 id="clst_my" class="calHeader goog-zippy-collapsed">
          <div class="hover-my-calendar">
            <span id="my-zippy-arrow" class="h zippy-arrow" unselectable="off">&nbsp;</span>
            <span class="calHeaderSpace"><%= t "my_calendars" %></span>
            <span id="clst_my_menu" class="clstMenu"></span>
          </div>
        </h2>
        <div id="collapse1" class="panel-collapse collapse"
          aria-expanded="true">
          <%= render "calendars", calendars: @my_calendars %>
        </div>
      </div>
      <div id="other-calendar">
        <h2 id="clst_other" class="calHeader goog-zippy-collapsed">
          <div class="hover-my-calendar">
            <span id="other-zippy-arrow" class="h zippy-arrow" unselectable="off">&nbsp;</span>
            <span class="calHeaderSpace"><%= t "other_calendars" %></span>
            <span id="clst_other_menu" class="clstMenu"></span>
          </div>
        </h2>
        <div id="collapse2" class="panel-collapse collapse"
          aria-expanded="true">
          <div class="send-request-email border-light">
            <input id="request-email-input" type="text"
              placeholder="<%= t "calendars.request_email_input" %>">
            <button id="request-email-button"></button>
          </div>
          <%= render "calendars", calendars: @other_calendars %>
        </div>
      </div>
    </div>
    <div class="mainbody">
      <div id="full-calendar"></div>
    </div>
  </div>
  <div id="sub-menu-my-calendar" class= "sub-menu sub-menu-hidden">
    <div>
      <%= link_to t("calendar.sub_menu.create_calendar"),
        new_user_calendar_path(current_user) %>
    </div>
    <!--<div class="disable">
      <%#= link_to t("calendar.sub_menu.setting"), "#" %>
    </div> -->
  </div>
  <div id="menu-of-calendar" class="sub-menu menu-calendar sub-menu-hidden">
    <input type="hidden" id="menu-calendar-id">
    <div id="id-of-calendar"></div>
    <!--<div class="disable">
      <%#= link_to t("calendar.sub_menu.display"), "#" %>
    </div> -->
    <div>
      <%= link_to t("calendar.sub_menu.create_sub_calendar"),
        "javascript:void(0)", id: "create-sub-calendar" %>
    </div>
    <div>
      <%= link_to t("calendar.sub_menu.calendar_setting"),
        "javascript:void(0)", id: "edit-calendar" %>
    </div>
    <!-- <div class="disable">
      <%#= link_to t("calendar.sub_menu.view_trash"), "#" %>
    </div>
    <div class="disable">
      <%#= link_to t("calendar.sub_menu.create_event_on_calendar"), "#" %>
    </div>
    <div class="disable">
      <%#= link_to t("calendar.sub_menu.share_calendar"), "#" %>
    </div>
    <div class="disable">
      <%#= link_to t("calendar.sub_menu.edit_notification"), "#" %>
    </div> -->
    <div class="divider"></div>
    <div class="checkbox-color">
      <% @colors.each_with_index do |color, index| %>
        <div class="<%= "l-color" %>" >
          <input type="checkbox" class="input-assumpte"
            id="<%= "input-color-#{color.id}" %>" rel="<%= color.id %>">
          <label class="<%= "color-#{color.id}" %>" for="<%= "input-color-#{color.id}" %>"></label>
        </div>
        <% if((index + 1) % 6 == 0) %>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render "events/dialog_form" %>
  <%= confirm_popup_repeat_events t("events.repeat_dialog.delete") %>
  <%= confirm_popup_repeat_events t("events.repeat_dialog.edit") %>
</div>
