<div id="calendar-form">
  <%= form_for [current_user, @calendar] do |f| %>
    <div class="form-action">
      <%= link_to root_path, title: t("events.buttons.go_back"),
        "data-no-turbolink": true, class: "btn-go-back" do %>
        <i class="go-back"></i>
      <% end %>

      <%= link_to t("calendars.events.clear_all_events"),
        user_calendar_destroy_events_path(current_user, @calendar), method: :delete,
        data: {confirm: t("calendars.events.confirm_clear_all_events")},
        class: "btn btn-warning" %>

      <%= link_to t("calendars.delete_calendar"), user_calendar_path(current_user,
        @calendar), method: :delete, class: "btn btn-danger",
        data: {confirm: t("calendars.confirm_delete")} %>

      <%= link_to t("events.buttons.cancel"), root_path, class: "btn btn-default",
        "data-no-turbolink": true %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control",
        disabled: true %>
    </div>
    
    <div class="form-group" >
      <%= f.label :description %>
      <%= f.text_area :description, required: true, class: "form-control",
        disabled: true %>
    </div>
  <% end %>
</div>
