<header id="header" class="logo">
  <div id="logo">
    <p class="logo_left">
      <%= link_to t("layout.calendar-logo"), root_path %>
    </p>
  </div>
  <ul>
    <% if user_signed_in? %>
      <li class="avatar-box">
        <a class="avatar" id="header-avatar" href="#">
          <%= get_avatar current_user %>
        </a>
        <div id="sub-menu-setting" class= "sub-menu sub-menu-hidden">
          <div class="sub-setting">
            <%= link_to t("layout.show"), user_path(current_user) %>
          </div>
          <div class="sub-setting">
            <%= link_to t("calendars.push"), "/auth/google_oauth2?push=true" %>
          </div>
          <div class="sub-setting">
            <%= link_to t("calendars.pull"), "/auth/google_oauth2?pull=true" %>
          </div>
          <div class="sub-setting">
            <%= link_to t("session.link.sign_out"), destroy_user_session_path,
              method: :delete %>
          </div>
          <div id="prong-header" class="top-prong">
            <div class="prong-dk"></div>
            <div class="prong-lt"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="username-hearder">
          <p><%= current_user.name %></p>
        </div>
      </li>
    <% else %>
      <li class="login"><%= link_to t("layout.log_in"), new_user_session_path %></li>
    <% end %>
  </ul>
</header>
